dialog[is=time-picker] .time-picker-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "hour minute second"
        "action action action";
}

.time-picker-hour,
.time-picker-minute,
.time-picker-second {
    height: 300px;
    max-height: 80vh;
    color: var(--fr-color);
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
}
.time-picker-hour {
    grid-area: hour;
}
.time-picker-minute {
    grid-area: minute;
}
.time-picker-second {
    grid-area: second;
}

.time-picker-item {
    width: 100%;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: color .3s,
                transform .3s;
}
.time-picker-item:hover,
.time-picker-item.selected {
    transform: scale(1.5);
}
.time-picker-item.selected {
    color: var(--accent-color)
}
