.fab-group {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: 1.2rem .8rem;
}

.fab-group button {
    box-shadow: var(--shadow-sm);
}

body.dark .fab-group button img {
    filter: invert(.85);
    transition: filter .3s;
}
body.dark .fab-group button:hover img {
    filter: invert(1);
}

body:fullscreen #fullscreen,
body:not(:fullscreen) #fullscreen-exit {
    display: none;
}
body:-webkit-full-screen #fullscreen,
body:not(:-webkit-full-screen) #fullscreen-exit {
    display: none;
}
body:-moz-full-screen #fullscreen,
body:not(:-moz-full-screen) #fullscreen-exit {
    display: none;
}

@media screen and (orientation: portrait) {
    .fab-group {
        bottom: 0;
        right: 0;
    }
}
@media screen and (orientation: landscape) {
    .fab-group {
        top: 0;
        left: 0;
    }
}
