@import url(./color.css);
@import url(./button.css);
@import url(./dialog.css);
@import url(./main.css);
@import url(./tabs.css);
@import url(./fab.css);
@import url(./sound.css);
@import url(./countdown.css);
@import url(./result.css);
@import url(./help.css);
@import url(../scripts/components/time-picker.css);

body {
    margin: 0;
    font-family:
    /* en */ -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,Helvetica,Arial,
    /* zh */ PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Source Han Sans CN,sans-serif;
    background-color: var(--bg-color);

    --shadow-sm: 0 2px 1px -1px rgba(0,0,0,.2),
        0 1px 1px 0 rgba(0,0,0,.14),
        0 1px 3px 0 rgba(0,0,0,.12) !important;
    --shadow-md-1: 0 3px 3px -2px rgba(0,0,0,.2),
        0 3px 4px 0 rgba(0,0,0,.14),
        0 1px 8px 0 rgba(0,0,0,.12) !important;
    --shadow-md-2: 0 3px 5px -1px rgba(0,0,0,.2),
        0 5px 8px 0 rgba(0,0,0,.14),
        0 1px 14px 0 rgba(0,0,0,.12) !important;
    --shadow-lg: 0 4px 5px -2px rgba(0,0,0,.2),
        0 7px 10px 1px rgba(0,0,0,.14),
        0 2px 16px 1px rgba(0,0,0,.12) !important;

    transition: background .3s,
                color .3s;
}

.no-scroll {
    scrollbar-width: none;
}
.no-scroll::-webkit-scrollbar {
    display: none;
}
